table {
    width: 20%;
}
tbody tr:nth-child(even) {
    background-color: #EEE;
}
tbody tr td:first-child {
    font-size: 12px;
    font-weight: bold;
}
tbody tr td {
    text-align: center;
}
.table-headings {
    background-color: lightgrey;
}
.title {
    color: white;
    background-color: #0C4160;
}
