@media (min-width: 40.5em) {
	header img {
		margin-left: 3em;
	}
	#hamButton {
		display: none; /* hide hamburger button */
	} 
	
	.navigation {
		flex-direction: row;
	}
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
	.grid-container {
		grid-template-columns: 1fr 1fr;
	}
	.herodiv {
		grid-column: 1/3;
		grid-row: 1/2;
	}

}