body {
    font-family: Verdana, sans-serif;
}
/*header*/ 
header {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
    background-color: #194462;
    text-align: center;
    color: white;
    padding: 10px;
}
.sub-title {
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 0px;
}
.name {
    font-size: xx-large;
}
/*main*/
main {
    width: 75%;
    display: grid;
    margin: auto;
    text-align: center;
    grid-gap: 10px;
    font-size: 20px;
}
main li {
    text-align: left;
    padding: 3px;
}
ul {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/*footer*/
footer {
    width: 50%;
    background-color: #194462;
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
}